.formBox {
  border:'2px solid #000000';
  display: flex;
  flex-direction: column;
} 
.button {
  width: 150px;
  justify-items: center;
}

@media (max-width:420px) {
  .title-h2 {
    font-size: 1.002em;
    line-height: 0.5em;
  }
}

@media (max-width: 420px) {
  .button {
    width: 80px;
  }
}

@media (max-width: 420px) {
  .formBox {
    flex-direction: column;
  }
}

  